<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Inventory Enquiry</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <!--Form Section-->
        <!--Container 1-->
        <!--Container 1-->
        <!--Form Section-->
        <include-page data-comp-id="includePage.1" name="" page-data="{}"></include-page>
        <!--Form Section-->
        <!--Container 2-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 3-->
        <div class=" card" data-comp-id="div.1"
            style="margin: 0% 4%; border-radius: 10px;">
            <ion-list data-comp-id="ionic-list.1">
                <multiselect-list data-comp-id="multiselectList.1"
                    ng-model="data.multiSelectData" select-class=" positive-icon">Branch Code</multiselect-list>
                <div class="row" data-comp-id="row.1"
                    style="border-top: 2px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); padding: 0px;">
                    <div class="col" data-comp-id="column.1" style="padding: 0px;"></div>
                </div>
                <multiselect-list data-comp-id="multiselectList.2"
                    ng-model="data.multiSelectData2" select-class=" positive-icon">Stock File</multiselect-list>
                <label class="item item-input" data-comp-id="textInput.1">
                    <span class="input-label">Part</span>
                    <input type="text">
                </label>
                <label class="item item-input" data-comp-id="textInput.2">
                    <span class="input-label">Product Group</span>
                    <input type="text">
                </label>
                <label class="item item-input" data-comp-id="textInput.3">
                    <span class="input-label">Vendor Code</span>
                    <input type="text">
                </label>
                <label class="item item-input" data-comp-id="textInput.4">
                    <span class="input-label">Vendor Part</span>
                    <input type="text">
                </label>
            </ion-list>
        </div>
        <!--Container 3-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 4-->
        <div class="row" data-comp-id="row.2" style="margin: 2px 0px 0px;">
            <div class="col" data-comp-id="column.2"></div>
        </div>
        <!--Container 4-->
        <!--Container 5-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 5-->
        <!--Container 6-->
        <!--Container 6-->
        <!--Container 7-->
        <!--Container 7-->
        <!--Form Section-->
        <!--Form Section-->
        <div class="row" data-comp-id="row.5">
            <div class="col" data-comp-id="column.5">
                <button class="button button-block" data-comp-id="button.3"
                    ng-click="app.action('form', 'submit', this)" style="border-radius: 10px;">Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>