<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Inventory Enquiry</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"
                ng-click="app.go('app.landing')"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <!--Form Section-->
        <!--Container 1-->
        <div class="row" data-comp-id="row.1" style="margin: 0px;">
            <div class="col" data-comp-id="column.1"></div>
        </div>
        <div class="light-bg card" data-comp-id="div.1"
            style="margin: 0% 4%; border-radius: 10px;">
            <!--User Input-->
            <select-list data-comp-id="selectList.1" ng-model="data.branch"
                powwow-change="{dynamic:true,timeout:5000}">Branch Code</select-list>
            <select-list data-comp-id="selectList.2" ng-model="data.scodes">Stock File</select-list>
            <label class="item item-input" data-comp-id="textInput.1">
                <span class="input-label">Part</span>
                <input ng-model="data.prtnum" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.2">
                <span class="input-label">Product Group</span>
                <input ng-model="data.prdgrp" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.3">
                <span class="input-label">Vendor Code</span>
                <input ng-model="data.vendor" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.4">
                <span class="input-label">Vendor Part</span>
                <input ng-model="data.altprt" type="text">
            </label>
            <!--User Input-->
            <!--User Input-->
            <!--User Input-->
        </div>
        <!--Container 1-->
        <!--Form Section-->
        <include-page data-comp-id="includePage.1" name="" page-data="{}"></include-page>
        <!--Form Section-->
        <!--Container 2-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 3-->
        <!--Container 3-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 4-->
        <!--Container 4-->
        <!--Container 5-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 5-->
        <!--Container 6-->
        <!--Container 6-->
        <!--Container 7-->
        <!--Container 7-->
        <!--Form Section-->
        <!--Form Section-->
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <button class="button button-block" data-comp-id="button.3"
                    ng-click="app.action('inventoryenquiry', 'submit', this)"
                    style="border-radius: 10px;">Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>