<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Home</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-ios-search-strong" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1" style="padding: 0px; margin: 1px 0px;">
            <div class="col text-center calm-bg" data-comp-id="column.1"
                ng-click="app.action('home', 'action1', this)"
                style="padding: 70px 0px; margin: 2px;">
                <i class="icon ion-help-buoy" data-comp-id="icon.1"
                    style="font-size: 50px; color: rgb(255, 255, 255);"></i>
                <div class=" light" data-comp-id="text.1" style="font-size: 18px; margin: 5px;">Help
                    <br>Documentation</div>
            </div>
            <div class="col" data-comp-id="column.2" style="padding: 0px; margin: 1px;">
                <div class="row assertive-bg" data-comp-id="row.2"
                    ng-click="app.action('home', 'action2', this)"
                    style="margin: 1px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.3">
                        <i class="icon ion-ios-bell stable" data-comp-id="icon.2"
                            style="font-size: 50px;"></i>
                        <div data-comp-id="text.2"
                            style="color: rgb(255, 255, 255); font-size: 18px; margin: 5px;">Alerts</div>
                    </div>
                </div>
                <div class="row royal-bg" data-comp-id="row.3"
                    ng-click="app.action('home', 'action3', this)"
                    style="margin: 3px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.4" style="padding: 20px 0px;">
                        <i class="icon  ion-ios-plus" data-comp-id="icon.3"
                            style="font-size: 50px; color: rgb(255, 255, 255);"></i>
                        <div data-comp-id="text.3"
                            style="color: rgb(255, 255, 255); font-size: 18px; margin: 5px;">New Issue</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-comp-id="row.4" style="padding: 0px; margin: 1px 0px;">
            <div class="col" data-comp-id="column.5" style="padding: 0px; margin: 1px;">
                <div class="row positive-bg" data-comp-id="row.5"
                    ng-click="app.action('home', 'action4', this)"
                    style="margin: 1px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.6" style="padding: 10px;">
                        <i class="icon ion-eye" data-comp-id="icon.4"
                            style="font-size: 50px; color: rgb(255, 255, 255);"></i>
                        <div data-comp-id="text.4"
                            style="color: rgb(255, 255, 255); font-size: 18px; margin: 5px;">Monitor</div>
                    </div>
                </div>
                <div class="row balanced-bg" data-comp-id="row.6"
                    ng-click="app.action('home', 'action5', this)"
                    style="margin: 3px 2px 2px 1px; padding: 10px;">
                    <div class="col text-center" data-comp-id="column.7" style="padding: 20px;">
                        <i class="icon light ion-ios-contact" data-comp-id="icon.5"
                            style="font-size: 50px;"></i>
                        <div class=" light" data-comp-id="text.5" style="font-size: 16px; margin: 5px;">Unassigned</div>
                    </div>
                </div>
            </div>
            <div class="col text-center energized-bg" data-comp-id="column.8"
                ng-click="app.action('home', 'action6', this)"
                style="margin: 2px 1px 3px 4px; padding: 80px 0px;">
                <i class="icon light ion-clipboard" data-comp-id="icon.6"
                    style="font-size: 50px; margin: 0px; padding: 0px; float: none;"></i>
                <div data-comp-id="text.6"
                    style="color: rgb(255, 255, 255); font-size: 16px; margin: 5px; line-height: 20px;">Assigned<br>
                    Jobs</div>
            </div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="" style="padding: 0px; background-color: #cccccc;">
        <div class="row" data-comp-id="row.7" style="padding: 0px;">
            <div class="col text-center" data-comp-id="column.9" style="padding: 3px 0px;">
                <div class="footer-button" data-comp-id="footerButton.1">
                    <button class="button icon button-clear ion-android-person button-dark"
                        ng-click="app.call('clientabstract.id')"></button>
                    <div class="label dark" style="font-size: 12px; line-height: 14px;">Account</div>
                </div>
            </div>
            <div class="col text-center" data-comp-id="column.10" style="padding: 3px 0px;">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button class="button icon button-clear button-dark ion-ios-telephone"
                        ng-click="app.call('clientabstract.referralHistory')"></button>
                    <div class="label dark" style="font-size: 12px; line-height: 14px;">History</div>
                </div>
            </div>
            <div class="col text-center" data-comp-id="column.11" style="padding: 3px 0px;">
                <div class="footer-button" data-comp-id="footerButton.3">
                    <button class="button icon button-clear button-dark ion-android-folder"
                        ng-click="app.call('clientabstract.caseHistory')"></button>
                    <div class="label dark" style="font-size: 12px; line-height: 14px;">Case</div>
                </div>
            </div>
            <div class="col text-center" data-comp-id="column.12" style="padding: 3px;">
                <div class="footer-button" data-comp-id="footerButton.4">
                    <button class="button icon button-clear ion-android-pin button-positive"></button>
                    <div class="label positive" style="font-size: 12px; line-height: 14px;">Location</div>
                </div>
            </div>
        </div>
    </div>
</ion-view>