<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-left" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Menu</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <div class=" card" data-comp-id="div.1" ng-repeat="item in data.sideMenuGroups"
            style="margin: 4%; border-radius: 10px;">
            <div class="item item-icon-right stable-bg" data-comp-id="item.1">
                <div data-comp-id="text.1" ng-bind="item.groupName" style="font-size: 16px;">Menu Group 1</div>
            </div>
            <ion-list data-comp-id="ionic-list.1">
                <div class="item item-icon-left item-icon-right" data-comp-id="item.2"
                    ng-click="app.action('sidemenu', 'data.sideMenuGroups[item].sideMenuItems[menuItem].action', this)"
                    ng-repeat="menuItem in item.sideMenuItems">
                    <i class="icon ion-ios-information-outline positive" data-comp-id="icon.1"
                        style="font-size: 20px;"></i>
                    <div data-comp-id="text.2" ng-bind="menuItem.itemName"
                        style="font-size: 14px; color: rgb(102, 102, 102);">
                        Some text
                    </div>
                    <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.2"
                        style="font-size: 20px;"></i>
                </div>
            </ion-list>
        </div>
        <div class=" card" data-comp-id="div.2" style="margin: 4%; border-radius: 10px;">
            <div class="item item-icon-right stable-bg" data-comp-id="item.3">
                <div data-comp-id="text.3">Logout</div>
            </div>
            <ion-list data-comp-id="ionic-list.2">
                <div class="item item-icon-left" data-comp-id="item.4"
                    ng-click="app.action('sidemenu', 'logout', this)">
                    <div data-comp-id="text.4" style="font-size: 14px; color: rgb(102, 102, 102);">Logout</div>
                    <i class="icon ion-log-out positive" data-comp-id="icon.3"
                        style="font-size: 24px;"></i>
                </div>
            </ion-list>
        </div>
    </ion-content>
</ion-view>