<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"
                ng-click="showSideMenu()"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Categories</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <div class=" positive-bg" data-comp-id="div.1">
            <div class="" data-comp-id="div.2" ng-repeat="item in data.categories"
                style="width: 50%; display: inline-block; margin: 0px;">
                <div class="card light-bg" data-comp-id="div.3"
                    ng-click="app.action('categories', 'data.categories[item].action', this)"
                    style="padding: 5px 5px 10px; border-radius: 10px;"><img data-comp-id="image.1" data-img="" ng-src="{{item.image}}"
                    style="width: 85%; margin: 10px; height: 100px;">
                    <div class=" energized" data-comp-id="text.1" style="font-size: 20px;">
                        <i class="icon {{item.icon}}" data-comp-id="icon.1" style="margin: 10px;"></i>
                        {{item.categoryName}}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>