<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class="bar-dark"
        data-comp-id="header-bar.1">
        <h1 class="title" data-comp-id="text.1">Menu</h1>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1" ng-repeat="item in data.menuGroup">
            <div class="col" data-comp-id="column.1">
                <div class="row" data-comp-id="row.2" ng-repeat="item in item.subgroup">
                    <div class="col" data-comp-id="column.2">
                        <div data-comp-id="text.2" ng-bind="item.option">Some text</div>
                        <ion-item class="item" data-comp-id="item.3">
                            <div class=" text-center" data-comp-id="text.5">
                                Some text
                                <span class="item-note"></span>
                            </div>
                        </ion-item>
                    </div>
                </div>
            </div>
        </div>
        <ion-list data-comp-id="ionic-list.1">
            <div class="item ng-hide" data-comp-id="item.1" menu-close=""
                ng-show="hasCordova || isCanvas">
                <div data-comp-id="text.3">
                    Settings
                </div>
            </div>
            <div class="item" data-comp-id="item.2" menu-close="" ng-click="app.logout()">
                <div data-comp-id="text.4">
                    Logout
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>